*.xreport
*.xmsgs
*.cmd
*.filter
*.projectmgr
*.attr
*.html
*.vPreview
*.wdb
*.edif
*.tcl
*.bit
*.ngm
*.mrp
*.map
*.xrpt
*.vho
*.lst
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.csv
*.txt
*.xml
*.xbcd
*.ref
*.bin
*.cpj
