NET "CLK"  LOC = "A8";

NET "SEGD[7]"  LOC = "F13";
NET "SEGD[6]"  LOC = "E13";
NET "SEGD[5]"  LOC = "G15";
NET "SEGD[4]"  LOC = "H13";
NET "SEGD[3]"  LOC = "J14";
NET "SEGD[2]"  LOC = "E14";
NET "SEGD[1]"  LOC = "G16";
NET "SEGD[0]"  LOC = "H14";

NET "SEGA[3]"  LOC = "G14";
NET "SEGA[2]"  LOC = "G12";
NET "SEGA[1]"  LOC = "G13";
NET "SEGA[0]"  LOC = "F12";

NET "P" LOC = "T14";

NET "PB_GO" LOC = "K12";

NET "DATA[7]" LOC = "R3";
NET "DATA[6]" LOC = "R1";
NET "DATA[5]" LOC = "P1";
NET "DATA[4]" LOC = "P2";
NET "DATA[3]" LOC = "N1";
NET "DATA[2]" LOC = "N2";
NET "DATA[1]" LOC = "M1";
NET "DATA[0]" LOC = "M2";

NET "ADDR[23]" LOC = "C3";
NET "ADDR[22]" LOC = "A3";
NET "ADDR[21]" LOC = "M4";
NET "ADDR[20]" LOC = "D3";
NET "ADDR[19]" LOC = "G5";
NET "ADDR[18]" LOC = "H3";
NET "ADDR[17]" LOC = "G4";
NET "ADDR[16]" LOC = "L4";
NET "ADDR[15]" LOC = "F3";
NET "ADDR[14]" LOC = "M3";
NET "ADDR[13]" LOC = "L5";
NET "ADDR[12]" LOC = "N3";
NET "ADDR[11]" LOC = "F5";
NET "ADDR[10]" LOC = "F4";
NET "ADDR[9]" LOC = "E3";
NET "ADDR[8]" LOC = "G3";
NET "ADDR[7]" LOC = "K4";
NET "ADDR[6]" LOC = "H4";
NET "ADDR[5]" LOC = "K3";
NET "ADDR[4]" LOC = "J4";
NET "ADDR[3]" LOC = "L3";
NET "ADDR[2]" LOC = "K5";
NET "ADDR[1]" LOC = "J3";

NET "OE" LOC = "K2";
NET "WE" LOC = "T3";
NET "CE" LOC = "E4";
NET "RP" LOC = "T4";
NET "MTCE" LOC = "K1";